<div class="row mt-5 mb-5">
    <div class="col-sm-12">
        <div class="mb-3 d-flex align-items-center justify-content-between border-bottom pb-2">
            <h2>
                Todo List ({{list.length}} items)
            </h2>
            <button class="btn btn-primary" (click)="triggerModal('add')">Add</button>
        </div>
        <div class="list-group" *ngIf="list.length; else noItems">
            <div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of list; let i = index;">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{item.title}}</h5>
                </div>
                <p class="mb-1">{{item.body}}</p>
                <div class="d-flex justify-content-end mt-2 mb-2">
                    <button class="btn btn-sm btn-warning mr-2" (click)="triggerModal('edit', i)">Edit</button>
                    <button class="btn btn-sm btn-danger" (click)="triggerModal('delete', i)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="outer show-{{shouldDisplay}}">
    <div class="inner">
        <div class="title">
            <h2>
                {{mode | titlecase}}
            </h2>
        </div>
        <div class="body border-top border-bottom pt-3 pb-3">

            <fieldset *ngIf="mode === 'add' || mode === 'edit'; else confirm">
                <div class="form-group row">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-12">
                        <input type="text" (keypress)="processKeypress($event)" class="form-control-plaintext border pl-2" [(ngModel)]="todoTitle" id="title" autocomplete="off">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="body" class="col-sm-2 col-form-label">Content</label>
                    <div class="col-sm-12">
                        <textarea rows="3" class="form-control-plaintext border pl-2" [(ngModel)]="todoBody" id="body" autocomplete="off"></textarea>
                    </div>
                </div>
            </fieldset>

            
        </div>
        <div class="buttons mt-3">
            <button *ngIf="mode === 'add'" class="btn btn-sm btn-primary mr-2" [disabled]="!(this.todoTitle.trim() && this.todoBody.trim())" (click)="addTodo()">Confirm</button>
            <button *ngIf="mode === 'delete'" class="btn btn-sm btn-primary mr-2" (click)="deleteTodo()">Delete</button>
            <button *ngIf="mode === 'edit'" [disabled]="!(this.todoTitle.trim() && this.todoBody.trim())" class="btn btn-sm btn-primary mr-2" (click)="updateTodo(this.targetIndex)">Update</button>
            <button class="btn btn-sm btn-danger" (click)="shouldDisplay = false;">Cancel</button>
        </div>
    </div>
</div>

<ng-template #confirm>
    Are you sure you want to delete this item?
</ng-template>

<ng-template #noItems>
    No items available.
</ng-template>