.outer{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background: rgba(20,20,20,0.4);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &.show-false{
        height: 0vh;
        .inner{
            opacity: 0;
        }
    }
    &.show-true{
        .inner{
            opacity: 1;
        }
        height: 100vh;
    }
    .inner{
        padding: 15px;
        background: #fff;
        width: 550px;
        @media(max-width:550px){
            width:100vw;
            height:100vh;
        }
        transition:0.2s;
        box-shadow: 2px 2px 10px 10px rgba(20,20,20,0.4);
        border: 1px solid;
        .body{
            min-height: 150px;
        }
    }
    
}

@media(max-width:400px){
    .d-flex.align-items-center.justify-content-between.border-bottom.pb-2{
        flex-direction: column;
        align-items: normal!important;
        justify-content: left!important;
    }

}